/* 전체에 box-sizinig 적용하고 시작할 것 */
*{
  /* width/height 설정 시 콘텐츠 + 패딩 + 보더 크기를 합산한 결과가 되도록 콘텐츠 영역의 크기를 자동으로 조정 */
  box-sizing: border-box;
}
.box{
  width: 200px;
  height: 200px;
  background-color: bisque;
}
/* border: 두께 스타일 색상 */
/* -> 요소 4 방향에 모두 적용 */
.border{
  border: 10px solid black;
}
/* content */
.content{
  width: 200px;
  height: 200px;
  /* 너비 높이를 콘텐츠 영역에만 적용 */
  box-sizing: content-box; 
}
/* padding */
.padding{
  /* 콘텐츠와 보더 사이의 영역을 20px 적용 */
  padding: 10px;
}
/* margin */
.margin-1{
  margin: 10px; /* 상하좌우 다른 요소와 50px만큼 간격 설정 */
}
.margin-2{
  margin: 20px; /*  */
}